* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

/* display-flex*/
.container-2,
.aboutus,
.container-3,
.video-wrapper,
.pricing,
.card-container,
.card,
.contact,
.contact-1,
.phone,
.address,
.email,
.contact-2,
.container-4,
.contact-form,
.footer {
    display: flex;
}

nav,
.video-wrapper,
.contact,
.phone,
.email,
.address,
.container-4,
.contact-form {
    flex-direction: column;
}

/* width */
.container-3 {
    width: 40%;
}

.video-wrapper,
.container-4 {
    width: 60%;
}

/*menu header - section 1*/
.nav {
    width: 100%;
    height: 80px;
    background-color: #0c0c0cf6;
    animation: animateNavbar 1s 0.5s forwards;
    transition: 1s;
    z-index: 9;
}

nav.change {
    height: 100vh;
}

@keyframes animateNavbar {
    0% {
        top: -8rem;
    }

    100% {
        top: 0;
    }
}

.title {
    top: 1rem;
    left: 0%;
    font-family: serif !important;
    padding-left: 3rem;
}

.web-title {
    font-size: 2rem;
}

.web-title::first-letter {
    color: brown;
}

.menu {
    width: 100%;
    height: 700px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 99;
    transition: 1s;
    transition-delay: 1s;

}

.menu li {
    font-size: 35px;
    background: transparent;
}

.menu li:hover {
    font-size: 30px;
    background-color: transparent;
}

.menu li a:hover {
    background-color: transparent;
}

nav .navbar-toggler {
    top: 1rem;
    left: 90%;
    margin-right: 5%;
    z-index: 500;
    transition: 0.5s;
}

.change .navbar-toggler {
    transform: rotate(180deg);
    color: rgb(227, 100, 100);
}

.change .menu {
    opacity: 1;
    visibility: visible;
}

/*section 1 home */
#home {
    width: 100%;
    height: 100vh;
    background-image: url(images/dark-bg.jpeg);
    background-size: cover;
}

.container-2 {
    width: 70vw;
    height: 70vh;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.title-2 {
    animation: changing;
    width: 100%;

}

.title-2 span {
    font-size: 5rem;
    position: absolute;
    transform: translate(-50%, 0);
    opacity: 0;
    letter-spacing: 1rem;
    transition: 1s;
    text-shadow: 5px 5px 5px brown;
}

.heading-1 {
    animation: changing 12s 3s infinite;
}

.heading-2 {
    animation: changing 12s 6s infinite;
}

.heading-3 {
    animation: changing 12s 9s infinite;
}

.heading-4 {
    animation: changing 12s 12s infinite;
}

@keyframes changing {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    28% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.para1 {
    top: 50%;
    transform: translate(0, -50%);
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.571);
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 1.5s forwards;
}

.home-btn {
    width: 23%;
    height: 3.5rem;
    top: 75%;
    border-radius: 24rem;
    background-color: brown;
    border: none;
    box-shadow: 1rem 1rem 1rem black;
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 2s forwards;
}

.home-btn a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-shadow: 0.2rem 0.1rem 2px black;
}

.home-btn a:hover {
    color: white;
}

.home-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 0.5s;
}

.home-btn:hover::before {
    left: 100%;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

/*section 2 About us */
#aboutUs,
#contact {
    width: 100%;
    height: 100vh;
    background-color: #222020;
}

.header-2 {
    font-size: 5rem;
    font-weight: lighter;
    font-family: "Oswald", sans-serif;
    color: rgb(211, 211, 211);
}

.line-2 {
    width: 20%;
    height: 2px;
    background-color: rgb(211, 211, 211);
    margin-bottom: 10%;
}


.para2 {
    color: rgb(211, 211, 211);
    font-size: 1rem;
    text-align: justify;
}

.para2 i {
    font-size: 3rem;
}

.para2 .icon-2 {
    margin-left: 93%;
}

/*section 3 Pricing */
#pricing {
    width: 100%;
    height: 100vh;
    background-color: #03070e;
}

.card-container>.card {
    border-radius: 5%;
}

.card {
    width: 260px !important;
    height: 60% !important;
    font-family: "Oswald", sans-serif;
}

.card-1 {
    background: linear-gradient(to right, #087285, #0da5d3);
}

.card-2 {
    background: linear-gradient(to right, #946809, #bdba0e);
}

.card-3 {
    background: linear-gradient(to right, #a10c14, #e23b3b);
}

.card-4 {
    background: linear-gradient(to right, #0b7e48, #3be286);
}

/*section 4 contact*/
.contact-1 {
    height: 35vh;
    font-family: "Oswald", sans-serif;
    color: rgb(211, 211, 211);
}

.contact-2 {
    height: 65vh;
}

.phone,
.address,
.email {
    width: 10%;
}

.phone>i,
.address>i,
.email>i {
    color: brown;
}

.contact-2 {
    color: rgb(211, 211, 211);
}

.container-4>form>input,
.container-4>form>textarea {
    background-color: #444242;
    padding: 3%;
    color: rgb(211, 211, 211);
    margin: 0.5%;
}

.container-4>form>textarea {
    resize: both;
    max-width: 100%;
}

.container-4>form>input {
    height: 40px;
}

.container-4>form>input[type=button] {
    background-color: brown;
    height: 60px;
}

/*Footer*/
#footer {
    height: 15vh;
    background-color: #03070e;
}

#footer>ul>li>a,
#footer>span {
    color: rgb(211, 211, 211);
    text-decoration: none;
    font-size: 1.3rem;
    font-family: serif !important;
}

/*responsive*/
@media screen and (max-width:767px) {
    .title-2 span {
        font-size: 3rem;
    }

    .para1 {
        font-size: 2rem;
    }

    .home-btn {
        width: 50%;
        height: 3.5rem;
    }

    .aboutus,
    .pricing,
    .contact,
    .contact-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-3 {
        width: 100%;
    }

    .video-wrapper,
    .container-4 {
        width: 100%;
    }

    .header-2 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .line-2 {
        display: none;
    }

    video {
        width: 90%;
        height: 200px;
    }

    .pricing-wrapper {
        position: absolute;
        top: -40%;
    }

    .phone,
    .email,
    .address {
        font-size: 0.2rem;
    }

    .contact-2 {
        padding: 10%;
    }

    .footer {
        flex-direction: column;
    }

    .footer>ul,
    .footer>span {
        margin: 0 !important;
    }

}

@media screen and (min-width:768px) and (max-width:992px) {
    .title-2 span {
        font-size: 3.5rem;
    }

    .para1 {
        font-size: 2rem;
    }

    .home-btn {
        width: 50%;
        height: 3.5rem;
    }

    .aboutus,
    .pricing,
    .contact,
    .contact-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-3 {
        width: 100%;
    }

    .video-wrapper,
    .container-4 {
        width: 100%;
    }

    .header-2 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .line-2 {
        display: none;
    }

    video {
        width: 90%;
        height: 200px;
    }

    .pricing-wrapper {
        position: absolute;
        top: -40%;
    }

    .phone,
    .email,
    .address {
        font-size: 0.2rem;
    }

    .contact-2 {
        padding: 10%;
    }

    .footer {
        flex-direction: column;
    }

    .footer>ul,
    .footer>span {
        margin: 0 !important;
    }
}

@media screen and (min-width:993px) and (max-width:1200px) {
    video {
        width: 90%;
        height: 300px;
    }
}